{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h4 class="mb-0">Delete Post Confirmation</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-danger" role="alert">
                    <h5 class="alert-heading">Are you sure you want to delete the following post?</h5>
                    <hr>
                    <div class="mb-3">
                        <h5 class="card-title">Post Title:</h5>
                        <p class="card-text">{{ post.title }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Author:</h5>
                        <p class="card-text">{{ post.author }}</p>
                    </div>
                    <div class="mb-3">
                        <h5 class="card-title">Created At:</h5>
                        <p class="card-text">{{ post.created_at }}</p>
                    </div>
                </div>
                <form action="{% url 'post_delete' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
