{% extends 'base.html' %}

{% block content %}

    <div class="search mb-3 d-flex justify-content-center align-items-center">
        {% include 'partials/search.html' %}
    </div>
    <h2 class="text-center">Posts</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-3">
                <a href="{% url 'post_detail' post.pk %}">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        {% if request.user == post.author %}
                            <p class="card-text">Author: You({{ post.author }})</p>
                            {% else %}
                                <p class="card-text">Author: {{ post.author }}</p>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated and request.user == post.author %}
                        <div class="card-footer">
                            <a href="{% url 'post_update' post.pk %}" class="btn btn-sm btn-primary mr-2">Edit</a>
                            <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        </div>
                    {% endif %}
                </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
