{% extends 'base.html' %}

{% load static %}

{% block content %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <div class="card">
{#        <img src="..." class="card-img-top" alt="...">#}
        <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p style="font-size: 12px; color: gray; font-weight: bold" class="card-subtitle mb-2 text-body-secondary">{{ post.author }}</p>
                <p style="font-size: 10px; color: #666666; font-weight: bold ">{{ post.created_at }}</p>
                <p class="card-text">{{ post.body }}</p>
                <div class="mb-1 gray_font" style="font-size: 15px">
                    {% for tag in post.tags.all %}
                        #{{ tag }}{% if not forloop.last %},
                        {% endif %}
                    {% endfor %}
                </div>
        {% if request.user == post.author %}
                <a href="{% url 'post_update' post.pk %}" class="btn btn-primary" style="width: 150px; margin: 5px">Edit</a>
                <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger" style="width: 100px; margin:5px">Delete</a>
        {% endif %}

        </div>

</div>

    <div class="card mb-5" style="margin-top: 10px">
        <div class="card-body">
            <form action="{% url 'comment_create' post.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button class="btn btn-success">Add Comment</button>
            </form>
        </div>

    </div>

    <div class="card">
    {% for comment in post.Comments.all %}
        <div class="card-body">
        <p class="mb-0">{{ comment.text }}</p>
        <p class="mb-0">by: {{ comment.author }}</p>
        <p class="mb-0 gray_font fs-12">{{ comment.created_at }}</p>
        <div class="mt-5">
            {% if request.user == comment.author %}
                <a href="{% url 'comment_update'  comment.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'comment_delete' post.pk comment.pk %}" class="btn btn-warning">Delete</a>
            {% endif %}
        </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}