<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_page' %}">MyBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_list' %}">Post List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_create' %}">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'author_list' %}">Authors List</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="{% url 'author_create' %}">Add Author</a>#}
{#                </li>#}
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="{% url 'login' %}?next={{ request.GET.next }}">Log-in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="{% url 'register' %}?next={{ request.GET.next }}">Register</a>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" style="color: #ff6600; font-weight: bold;">
                        Hello, {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'user_detail' user.pk %}" style="color: #ff6600; font-weight: bold;">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_edit' %}" style="color: #ff6600; font-weight: bold;">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}" style="color: #ff6600; font-weight: bold;">Change Password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.GET.next }}" style="color: #ff6600; font-weight: bold;">Log-out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
