<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Update Post</h4>
                </div>
                <div class="card-body">
                    <form  method="POST">
                        {% csrf_token %}
                        {% for error in non_field_errors %}
                            <p class="form-error">{{ error }}</p>
                        {% endfor %}
                        <div class="mb-3">
                            <label for="id_title" class="form-label">Title:</label>
                            <input type="text" name="title" id="id_title" class="form-control" value="{{ post.title }}">
                            {% for error in form.title.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="id_body" class="form-label">Body:</label>
                            <textarea name="body" id="id_body" class="form-control" rows="5">{{ post.body }}</textarea>
                            {% for error in form.body.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            <label for="id_tags" class="form-label">Tags:</label>
                            {{ form.tags }}
                        </div>
                        {% if form.cleaned_data.title == form.cleaned_data.body %}
                            <p class="text-warning">Post title and body cannot be the same</p>
                        {% endif %}
{#                        <button type="submit" class="btn btn-primary mt-3">Update</button>#}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Create New Tag</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'tag_create' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Name:</label>
                            <input type="text" name="name" id="id_name" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Create Tag</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
