{% if is_paginated %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include 'partials/pagination.html' %}
            </div>
        </div>
    </div>
{% endif %}

<div class="container mt-4">
    <div class="row">
        {% for post in posts %}
            <div class="col-md-8 mx-auto mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
                        <p class="card-text">
                            <small class="text-muted">
                                <a href="{% url 'user_detail' post.author_id %}">{{ post.author }}</a> |
                                {{ post.updated_at|date:"d.m.Y H:i:s" }}
                            </small>
                        </p>
                        <p class="card-text">Published at: {{ post.created_at|date:"d.m.Y H:i:s" }}</p>

                        {% if perms.posts.change_post and post.author == request.user %}
                            <a href="{% url 'post_update' post.pk %}" class="btn btn-sm btn-primary">Update</a>
                        {% endif %}
                        {% if perms.posts.delete_post and post.author == request.user %}
                            <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-8 mx-auto">
                <p class="text-center">No posts</p>
            </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% include 'partials/pagination.html' %}
            </div>
        </div>
    </div>
{% endif %}
