<form action="" class="d-flex" method="GET">
    <input type="text" name="search" class="form-control" placeholder="Search">
    <button type="submit" class="btn btn-outline-success">Search</button>
    {% for error in form.search.errors %}
        <p class="text-danger">{{ error }}</p>
    {% endfor %}
</form>