{% if not fields_only %}
    <form action="{{ action_url }}" method="{{ form_method }}" enctype="multipart/form-data">
        {% csrf_token %}
{% endif %}

{% for error in form.non_field_errors %}
    <div class="alert alert-danger">{{ error }}</div>
{% endfor %}


{% for field in form %}
    <div class="form-group">
        <div class="input-group mb-3">
            <span class="input-group-text">{{ field.label }}</span>
            {{ field }}
        </div>
    </div>
    {% for errors in field.errors %}
        <p class="text-danger">{{ errors }}</p>
    {% endfor %}
{% endfor %}


{% if not fields_only %}
    <button type="submit" class="btn btn-success">{{ button_text|default:"Submit" }}</button>
    </form>
{% endif %}
