{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ user_object.get_full_name|default:user_object.username }}</h1>
                    {% if user_obj.profile.avatar %}
                        <img src="{{ user_obj.profile.avatar.url }}" alt="" class="avatar">
                    {% else %}
                        <img src="{% static 'images/Untitled.jpeg' %}" alt="" class="avatar" width="150">
                    {% endif%}

                    <ul class="list-group list-group-flush">
                            <li class="list-group-item">Username: {{ user_object.username }}</li>
                            <li class="list-group-item">First Name: {% if user_object.first_name %}{{ user_object.first_name }}{% else %}not defined {% endif %}</li>
                            <li class="list-group-item">Last Name: {% if user_object.last_name %}{{ user_object.last_name }}{% else %}not defined {% endif %} </li>
                            <li class="list-group-item">Birthday: {% if user_object.profile.birth_date %}{{ user_object.profile.birth_date }}{% else %}not defined{% endif %}</li>
                            <li class="list-group-item">Email: {% if user_object.email %}{{ user_object.email }}{% else %}not defined{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-8 mx-auto">
            <h2 class="text-center">{{ user_object.username }}'s posts</h2>
            {% include 'partials/post_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
