{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title">Registration</h1>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            <div>
                                {% for errors in form.errors.values %}
                                    <p class="text-danger" style="color: red">{{ errors }}</p>
                                {% endfor %}
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label">Password</label>
                                {{ form.password1 }}
                            </div>
                            <div class="mb-3">
                                <label for="password2" class="form-label">Confirm Password</label>
                                {{ form.password2 }}
                            </div>
                            <button type="submit" name="register" class="btn btn-outline-success">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
