{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="mt-5">Profile Edit</h1>

            <form action="{% url 'user_edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'partials/user_forms.html' with form=form fields_only=True %}
                {% include 'partials/user_forms.html' with form=profile_form fields_only=True %}
                <button type="submit" class="btn btn-outline-secondary mt-3">Edit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
