{% extends 'base.html' %}

{% block content %}
          <h1>Create Author</h1>

        <form action="{% url 'author_create' %}" method="POST">
            {% include 'partials/post_form.html' %}

            <button type="submit" class="btn btn-primary" style="margin-top : 15px;">Create</button>
        </form>

        <ul class="list-group">
        {% for author in authors %}

            <li class="list-group-item list-group-item-action d-flex justify-content-between" style="border: 1px gray solid; border-radius: 10px; padding: 15px; margin: 10px">
                <div>
                    {{ author.id }}. {{ author.name }}
                </div>
                <div>
                    <a href="{% url 'author_update' author.pk %}" class="btn btn-outline-success button">Edit</a>
                    <a href="{% url 'author_delete' author.pk %}" class="btn btn-outline-danger button">Delete</a>
                </div>

            </li>


        {% endfor %}
    </ul>

{% endblock %}

