{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block  content %}

{#    {% include 'partials/pagination.html' %}#}

    <div class="w-25 mb-3">
        <form action="" method="GET" class="d-flex align-items-center">
            <select name="sort_by" class="form-select form-select-sm me-1" id="sort_by" style="height: 40px">
                <option value="" selected disabled>Select</option>
                <option value="id">ID</option>
                <option value="name">Name</option>
            </select>
            <button type="submit" class="btn btn-outline-warning">Sort</button>
        </form>
    </div>


    <ul class="list-group">
        {% for author in authors %}

            <li class="list-group-item list-group-item-action d-flex justify-content-between" style="border: 1px gray solid; border-radius: 10px; padding: 15px; margin: 10px">
                <div>
                    {{ author.id }}. {{ author.name }}
                </div>
                <div>
{#                    <a href="{% url 'author_update' author.pk %}" class="btn btn-outline-success button">Edit</a>#}
{#                    <a href="{% url 'author_delete' author.pk %}" class="btn btn-outline-danger button">Delete</a>#}
                </div>

            </li>


        {% endfor %}
    </ul>
        {% include 'partials/pagination.html' %}

{% endblock %}