{% extends 'base.html' %}

{% block content %}
        <h1>Edit Author</h1>

        <form action="{% url 'author_create' %}" method="POST">
            {% include 'partials/post_form.html' %}

            <button type="submit" class="btn btn-outline-primary" style="margin-top : 15px;">Edit</button>
            <a href="{% url 'author_list' %}" class="btn btn-outline-dark" style="margin-top : 15px; margin-left: 5px">Back</a>
        </form>

{% endblock %}