{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="text-center mb-4">Welcome to My Personal Blog</h1>
                <p class="lead text-center">Explore my thoughts, ideas, and experiences.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Advantage 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel vehicula ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Advantage 2</h5>
                        <p class="card-text">Sed ac magna sit amet tortor congue venenatis. Fusce vitae dui eros.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Advantage 3</h5>
                        <p class="card-text">Phasellus euismod, libero eu fermentum pulvinar, elit odio faucibus risus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
