{% extends 'base.html' %}

{% block content %}

        <div class="card mb-5" style="margin-top: 10px">
            <div class="card-body">
                <form action="{% url 'comment_create' post.pk %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-success">Add Comment</button>
                </form>
            </div>
        </div>
{% endblock %}